.container {
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 2;

  ul {
    li {
      float: left;

      position: relative;
      z-index: 2;
    }
  }
}

.navi {
  .btn_left {
    float: left;
  }

  .btn_up_down {
    .btn_up {
      float: none;
    }

    .btn_down {
      float: none;
    }
  }

  .btn_right {
    float: right;
  }
}

@media (max-width: 400px), (max-height: 400px) {
  .container {
    display: none;
  }
}
