.container {
  user-select: none;
}

.sub_container {
  display: inline-flex;
  flex-direction: column;
  position: relative;

  ul {
    display: flex;
  }
}

.sub_menu {
  left: 120px;
  position: fixed;
  top: 10px;
  z-index: 3;

  ul {
    li {
      float: left;
      position: relative;
      width: auto;
      z-index: 2;

      i {
        cursor: pointer;
        font-size: 30px;

        &:before {
          background-color: #353535;
          border-radius: 100%;
          padding: 1px;
        }
      }
    }
  }
}

@media (orientation: portrait) {
  .sub_container {
    left: 10px;
  }
}

@media (orientation: landscape) {
  .sub_container {
    left: 120px;
  }
}
