html, body {
    background-color: #444444;
    color: white;
    /*width: 100%;*/
    /*height: 100%;*/
    margin: 0px;
    padding: 0px;
}

select, option {
    background-color: gray;
    color: black;
}

input {
    background-color: #222222;
    color: white;
}

button {
    background-color: #129FEA;
    color: white;
}

#root {
    /*width: 100%;*/
    /*height: 100%;*/
}



#loading {
    -webkit-animation: rotation 2s infinite linear;
}
/* Cutsom CSS for THEME*/
.ms3000-main-container{
  max-width: 800px;
  margin: 0 auto;
}

.ms3000-input-radio{
  text-align: center;
}

.ms3000-input-radio>label{
  display: block;

}
.ms3000-input-radio>label>input{

  display: block;
  float: left;

}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.button-sized {
    width: 1em;
    height: 1em;
}
@media screen and (min-width:768px){
    .pure-u-md-none{
        width: auto;
    }
}


/**/

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  float: left;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

/*
body div {
}*/
body label {
  display: block;
  line-height: 40px;
}


