html, body {
    background-color: #444444;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

select, option {
    background-color: gray;
    color: black;
}

input {
    background-color: #222222;
    color: white;
}

button {
    background-color: #129FEA;
    color: white;
}

#root {
    width: 100%;
    height: 100%;
}



#loading {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

