
.list_container {
  display: inline-block;

  ul {
    display: block;
    clear: both;
  }
}

.list_container__input {
  float: left;
}

.loading {
  &:before {
    font-size: 30px;
    float: left;
  }
}
