.container {
  display: inline-block;

  ul {
    display: block;
    clear: both;

    ul {
      li {
        display: inline;
      }
    }
  }
}

.nav {
  ul {
    li {
      display: inline;
    }
  }
}

.scan {
  display: inline-block;
  width: 100%;

  input {
    float: left;
  }
}

.loading {
  &:before {
    float: left;
  }
}
