.container {
  max-height: 90vh;
  overflow-y: scroll;
}

@media (orientation: landscape) {
  body {
    .container {
      top: 228px;
      width: 300px;
    }
  }
}

@media (orientation: portrait) {
  body {
    .container {
      &:before {
        left: 247px;
      }
    }
  }
}
