$brightness: "\e900";
$brushes: "\e901";
$colors: "\e902";
$download: "\e904";
$effects: "\e905";
$fonts: "\e906";
$images: "\e907";
$info: "\e908";
$invert-path1: "\e909";
$invert-path2: "\e90a";
$invert-path3: "\e90b";
$minus: "\e90c";
$plus: "\e90d";
$settings: "\e90e";
$shapes: "\e90f";
$trash: "\e910";
$upload: "\e911";
$zoom_in: "\e912";
$zoom_out: "\e913";

@font-face {
  font-family: 'MS3000';
  font-weight: normal;
  font-style: normal;
  src: url('/ms-ico.woff?pt8xw1') format('woff');
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MS3000';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brightness {
    &:before {
        content: $brightness;
    }
}
.brushes {
    &:before {
        content: $brushes;
    }
}
.colors {
    &:before {
        content: $colors;
    }
}
.download {
    &:before {
        content: $download;
    }
}
.effects {
    &:before {
        content: $effects;
    }
}
.fonts {
    &:before {
        content: $fonts;
    }
}
.images {
    &:before {
        content: $images;
    }
}
.info {
    &:before {
        content: $info;
    }
}
.invert .path1 {
    &:before {
        content: $invert-path1;
        color: rgb(51, 51, 51);
    }
}
.invert .path2 {
    &:before {
        content: $invert-path2;
        margin-left: -1em;
        color: rgb(255, 255, 255);
    }
}
.invert .path3 {
    &:before {
        content: $invert-path3;
        margin-left: -1em;
        color: rgb(51, 51, 51);
    }
}
.minus {
    &:before {
        content: $minus;
    }
}
.plus {
    &:before {
        content: $plus;
    }
}
.settings {
    &:before {
        content: $settings;
    }
}
.shapes {
    &:before {
        content: $shapes;
    }
}
.trash {
    &:before {
        content: $trash;
    }
}
.upload {
    &:before {
        content: $upload;
    }
}
.zoom_in {
    &:before {
        content: $zoom_in;
    }
}
.zoom_out {
    &:before {
        content: $zoom_out;
    }
}

