.container {
  position: relative;
  z-index: 5;

  a {
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }

    &:hover {
      opacity: .8;
    }
  }

  i {
    color: #353535;

    &:before {
      background-color: #e6e6e6;
      border-radius: 100%;
      font-size: 30px;
      padding: 5px;
      float: left;
    }
  }

  span {
    float: left;
    margin: 11px 0 0 5px;
  }
}
