.container {
  background-color: rgba(240, 240, 240, 0.95);
  position: fixed;
  z-index: 1;

  nav {
    font-size: .8em;
  }

  ul {
    display: inline-table;
  }

  a {
    text-decoration: none;
  }

  i {
    color: #1cfffa;

    &:before {
      background-color: #353535;
      border-radius: 100%;
      font-size: 30px;
      padding: 0;
      border-width: 2px;
      border-style: solid;
      border-color: #353535;
    }
  }
}

@media (orientation: portrait) {
  .container {
    bottom: 0;
    width: 100%;
    text-align: center;

    li {
      float: left;
      text-align: center;
      margin: 0 1em 0 0;
    }

    a {
      display: inline-block;
    }

    i, span {
      float: none;
    }

    i {
      display: inline-block;
    }

    span {
      display: block;
      margin: 0;
    }
  }
}


@media (orientation: landscape) {
  .container {
    height: 100vh;
    left: 0;
    padding: 65px 5px 0;
    text-align: center;
    top: 0;
    width: 120px;

    nav {
      display: inline-block;
      margin: 0 0 .2em;
    }

    li {
      text-align: left;
    }

    a {
      display: inline-block;
    }

    i {
      float: left;
    }

    span {
      float: left;
      margin: 11px 0 0 5px;
    }
  }
}

@media all and (orientation: landscape) and (min-height: 500px) {
  body {
    .container {
      li {
        margin: 0 0 20px 0;
      }
    }
  }
}

@media all and (orientation: portrait) and (min-width: 500px) {
  body {
    .container {
      left: 120px;
    }
  }
}
