.container {
  float: left;

  ul li {
    display: inline-block;
    margin: .2em;
    position: relative;
    width: 26%;
  }

  button {
    float: left;
    font-size: .5em;
  }
}

.indicator {
  float: left;

  &:before {
    border-radius: 100%;
    padding: 4px;
  }
}
